body {
  background-color: #EAF6F6;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-width: 5px;
  border-color: grey;
}

h1 {
  color: #66BFBF;
}

h3 {
  color: #66BFBF;
}

/*
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Han's Personal Site</title>
    <link rel="stylesheet" href="css/styles.css">

  </head>

  <body>
    <!-- Play Music-->
    <center>
      <audio src="FairyLand.mp3" controls>
      </audio>
    </center>

    <!--using pure HTML table to make the layout-->
    <table cellspacing="20">
      <tr>
        <td><img src="self.jpg" alt="Hanzhuo's profile picture "/></td>
        <td><h1>Hanzhuo Gong</h1>

          <p><em>Student at Santa Clara University</em></p> <!-- italicize the message -->
          <br> <!-- New Line-->

          <!-- Personal Bio -->
          <p>I am a student at Santa Clara University, majoring in Computer Science.
          My interesting fields are <strong>full stack development</strong>,
          <strong>machine learning</strong> and <strong>creating games</strong>
          .</p>
          <p>Link to: <a href="https://github.com/xiaogong1">My Github</a></p>
          <p>Link to: <a href="https://www.linkedin.com/in/hanzhuo-gong-610bb741/">
          My Linkedin Profile</a>
          </p>
        </td>
      </tr>
    </table>
    <hr> <!-- horizontal line-->

    <!--  School Section-->
    <h3>School:</h3>
    <p><strong>Santa Clara University</strong> Major: Computer Science</p>
    <p>Jan 2019 - Dec 2020</p>
    <br>
    <p><strong>University of California Davis</strong> Major: Economics</p>
    <p>Sep 2012 - June 2014</p>
    <br>
    <hr>

    <!-- Project Section-->
    <h3>Projects:</h3>
    <ul>
      <li><strong>Voice Changer</strong> :Swift</li>
      <p>The Voice Changer app allows users to record their voice and play
        different effect back. Including fast, slow, high pitch, low pitch etc.
      </p>
      <li><strong>Rock, Paper, Scissor</strong> :Swift</li>
      <p>Players can play RPS game against a computer</p>
    </ul>
    <br>
    <hr>

    <!-- Work Experience-->
    <h3>Work Experience:</h3>
    <table>
      <thead>
        <tr>
          <th>Dates</th>
          <th>Title</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>2017-2019</td>
          <td>Relationship Banker</td>
        </tr>
        <tr>
          <td>2016-2017</td>
          <td>Customer Serivece Specilist</td>
        </tr>
      </tbody>
      <tfoot>
      </tfoot>

    </table>
    <br>
    <hr>

    <!--Skill Section-->
    <h3>Skills:</h3>
    <table cellspacing="10">
      <tr>
        <td>IOS Development</td>
        <td>&#11088;&#11088;&#11088;</td> <!-- &#11088 is star emoji-->
        <td>C++</td>
        <td>&#11088;&#11088;&#11088;</td>
      </tr>
      <tr>
        <td>Web Development</td>
        <td>&#11088;&#11088;</td>
        <td>Python</td>
        <td>&#11088;&#11088;&#11088;</td>
      </tr>
    </table>
    <br>
    <hr>


    <!-- Direct to another html-->
    <a href="hobbies.html">My Hobbies</a>
    <br>
    <a href="ContactMe.html">Contact Me</a>


  </body>
</html>
*/
