body {
  margin: 0;
}

/*-------------------------------Top Container--------------------------*/
.topContainer {
  background-color: pink;
}

.intro {
  /*background-color: #EAF6F6;*/
  padding-top: 400px;
  /*padding-left: 800px;*/
  text-align: center;
  padding-bottom: 200px;
}


.cherryblossom {
  position: absolute;
  right: 0px; /*move the picture to the right*/
}

.intro h1 {
  margin-top: 0;
}

/*--------------------------------Middle Container----------------------*/
.middleContainer {
  background-color: white;
  text-align: center;
}

.my_self {
  border-radius: 50%; /*circle border*/

  /*code below center the image*/
  display: block;
  margin: 50px auto;
}

.Greeting {
  font-weight: bold;
  font-size: 30px;
}

.self_description {
  font-size: 20px;
  width: 460px;
  margin: 0 auto;
}

.break_line {
  width: 70px;
  border-style: none;
  border-top-style: dotted;
  border-width: 5px;
  border-color: grey;
  margin: 100px auto;
}

.intro_bio {
  font-weight: bold;
  color: #1e836c;
  font-size: 50px;
}

.more_description {
  font-size: 20px;
  width: 460px;
  margin: 50px auto 0 auto;
}

.smilingFace {
  height: 30px;
  width: 30px;
}
/*--------------------------------Bottom Container----------------------*/
.bottomContainer {
  background-color: pink;
  height: 200px;
  width: 200px;
}
